In [1]:
import pandas as pd

In [2]:
products_data = {
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Logitech G102', 'Razer Viper Mini', 'SteelSeries Rival 3', 'Zowie EC2', 'HyperX Pulsefire Haste'],
    'price': [25, 40, 30, 70, 50]
}
df_products = pd.DataFrame(products_data)
display(df_products)

   product_id            product_name  price
0         101           Logitech G102     25
1         102        Razer Viper Mini     40
2         103     SteelSeries Rival 3     30
3         104               Zowie EC2     70
4         105  HyperX Pulsefire Haste     50

In [3]:
import numpy as np
import random
from datetime import timedelta, datetime

num_sales = 1000
product_ids = df_products['product_id'].tolist()
cities = ['Тольятти', 'Самара', 'Москва', 'Санкт-Петербург', 'Казань']
start_date = datetime(2024, 7, 25)
end_date = datetime(2025, 7, 25)

In [4]:
total_seconds_period = int((end_date - start_date).total_seconds())

random_seconds_list = [random.randint(0, total_seconds_period) for _ in range(num_sales)]

date_list = [start_date + timedelta(seconds=sec) for sec in random_seconds_list]

In [5]:
sales_data = {
    'sale_id': range(1, num_sales + 1),
    'product_id': [random.choice(product_ids) for _ in range(num_sales)],
    'quantity': [random.randint(1,3) for _ in range(num_sales)],
    'customer_id': [random.randint(1000,1300) for _ in range(num_sales)],
    'date': date_list,
    'city': [random.choice(cities) for _ in range(num_sales)]
}
    
    
df_sales = pd.DataFrame(sales_data)


display(df_sales.head())
print(f"Сгенерировано {len(df_sales)} записей о продажах.")

   sale_id  product_id  quantity  customer_id                date      city
0        1         102         2         1130 2024-12-23 21:36:20    Казань
1        2         103         2         1139 2025-02-23 17:28:52  Тольятти
2        3         103         3         1058 2024-09-12 02:00:13    Казань
3        4         105         2         1169 2025-01-06 08:57:48  Тольятти
4        5         102         1         1168 2024-09-28 06:26:45    Казань

Сгенерировано 1000 записей о продажах.

In [6]:
df_products.to_excel('products.xlsx', index=False)
df_sales.to_excel('sales.xlsx', index=False)

print("Files 'products.xlsx' and 'sales.xlsx' have been succesufully created!")

Files 'products.xlsx' and 'sales.xlsx' have been succesufully created!